// .history-bg {
//     margin-top: 92px;
//     max-width: 100%;
//     position: relative;

//     &::after {
//         content: '';
//         position: absolute;
//         top: 0;
//         left: 0;
//         right: 0;
//         bottom: 0;
//         background: rgba(0, 0, 0, .5);
//         z-index: 9;
//     }
// }

.view {
    position: relative;
    padding-top: 80px;
}

.view .mask {
    overflow: hidden;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.view img {
    display: block;
    position: relative;
    max-width: 100%;
}

.view-second img {
    transition: all 0.2s ease-in;
}

.view .mask {
    background-color: rgba(12, 19, 27, 0.4);
    width: 100%;
}

.text-left {
    display: flex !important;
    justify-content: flex-start !important;
    padding-bottom: 80px !important;
}

.history {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    padding-top: 90px;
    padding-bottom: 120px;
    margin-left: 15%;
    margin-right: 15%;
    font-family: Arial, Helvetica, sans-serif;

    &-card {
        display: flex;
        flex-direction: column;
        margin-bottom: 50px;
        position: relative;
        z-index: 4;
        margin-right: 40px;
        max-width: 260px;

        &__add {
            position: absolute;
            top: 240px;
            left: 15px;
            z-index: 2389;
            display: flex;
            width: 90%;
            opacity: 0;
            height: 56px;
            border-radius: 10px;
            justify-content: space-around;
            align-items: center;
            filter: drop-shadow(-9.192px 9.192px 3.5px rgba(0, 0, 0, 0.27));
            background-color: #3a040f;

            &:hover {
                opacity: 1;
            }

            &:focus {
                opacity: 1;
            }

            i {
                color: #ffffff;
            }
        }

        &__content {
            display: flex;
            flex-direction: column;
            padding-top: 25px;

            &__topLine {
                background-color: #000000;
                border: 2px solid #707070;
                width: 25%;
                margin-bottom: 40px;
            }

            &__shortLine {
                background-color: #000000;
                border: 2px solid #707070;
                width: 12%;
                margin-bottom: 40px;
            }

            h3 {
                font-size: 50px;
                color: #ea2f55;
                font-weight: 800;
                text-transform: uppercase;
                letter-spacing: 2px;
                margin-bottom: 30px;
                line-height: 1;
            }

            h5 {
                font-size: 18px;
                color: #707070;
                margin-bottom: 50px;
            }

            &__bottomLine {
                background-color: #000000;
                border: 2px solid #707070;
                width: 90%;
                margin-bottom: 15px;
            }

            a {
                font-size: 16px;
                color: #ea2f55;
                font-weight: 400;
                font-family: 'Poppins', sans-serif;

                i {
                    margin-right: 15px;
                    vertical-align: middle;
                }
            }
        }

        button {
            position: absolute;
            left: 25%;
            top: -18px;
            z-index: 455;
            display: flex;
            justify-content: center;
            align-items: center;
            width: 130px;
            height: 36px;
            border-radius: 10px;
            border: none;
            outline: none;
            filter: drop-shadow(-18.192px 18.192px 7px rgba(0, 0, 0, 0.27));
            background-color: #ea2f55;
            font-size: 18px;
            color: #d2d2d2;
            font-weight: 500;
        }

        img {
            max-height: 300px;
            border-radius: 10px;
            filter: drop-shadow(-9.192px 9.192px 3.5px rgba(0, 0, 0, 0.27));
            background-color: #000000;
            border: 1px solid #393939;
            padding: 20px;
            margin-bottom: 10px;
        }

        &__body {
            display: flex;
            justify-content: space-between;
            align-items: center;

            small {
                font-size: 16px;
                color: #747474;
                font-weight: 300;
            }

            span {
                font-size: 22px;
                color: #ea2f55;
            }
        }

        p {
            font-size: 18px;
            color: #d2d2d2;
            font-weight: 300;
        }
    }
}

.my-container {
    margin-right: 15%;
    margin-left: 15%;
}

.viewLine {
    width: 100%;
    height: 2px;
    background-color: #ea2f55;
    margin-bottom: 90px;
    position: relative;

    button {
        display: block;
        position: absolute;
        left: 50%;
        top: -28px;
        margin-left: -117px;
        height: 60px;
        min-width: 234px;
        padding: 0px 35px;
        border-radius: 10px;
        filter: drop-shadow(-9.192px 9.192px 3.5px rgba(0, 0, 0, 0.27));
        border: 2px solid #ea2f55;
        background-color: #141414;

        a {
            font-size: 22px;
            color: #ea2f55;
            font-weight: 500;
            font-family: 'Poppins', sans-serif;
        }
    }
}

.history-video {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    width: 100%;
    font-family: Arial, Helvetica, sans-serif;
    margin-bottom: 30px;

    h2 {
        font-size: 40px;
        color: #d2d2d2;
        font-weight: 800;
        line-height: 1;
        letter-spacing: 2px;
    }

    &__controls {
        display: flex;

        a {
            i {
                color: #ea2f55;
                margin-right: 20px;
            }
        }
    }
}

.history-slider {
    margin-bottom: 40px;
    display: flex;
    justify-content: space-between;
    position: relative;

    &__add {
        position: absolute;
        top: 235px;
        left: 13px;
        z-index: 2389;
        display: flex;
        width: 90%;
        opacity: 1;
        height: 56px;
        border-radius: 10px;
        justify-content: space-around;
        align-items: center;
        filter: drop-shadow(-9.192px 9.192px 3.5px rgba(0, 0, 0, 0.27));
        background-color: #3a040f;

        &:hover {
            opacity: 1;
        }

        &:focus {
            opacity: 1;
        }

        i {
            color: #ffffff;
        }
    }

    &__slide {
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-bottom: 10px;

        a {
            position: absolute;
            width: 98px;
            height: 98px;
            border-radius: 50%;
            background: #000000;
            opacity: 0.3;
            display: flex;
            justify-content: center;
            align-items: center;
        }

        i {
            position: absolute;
            padding-left: 8px;
            color: #ea2f55;
            opacity: 1;
            cursor: pointer;
        }
    }

    &__footer {
        display: flex;
        flex-direction: column;

        &-author {
            display: flex;
            justify-content: space-between;
            font-size: 16px;
            font-family: 'Poppins', sans-serif;
            font-weight: 500;
            margin-bottom: 10px;

            span {
                color: #ea2f55;

                small {
                    font-size: 16px;
                    color: #d2d2d2;
                    margin-left: 5px;
                }
            }
        }

        p {
            font-size: 18px;
            color: #d2d2d2;
            font-weight: 300;
            font-family: 'Poppins', sans-serif;
            line-height: 1;
            margin-bottom: 15px;
        }

        h5 {
            font-size: 22px;
            color: #747474;
            font-weight: 400;
            font-family: 'Poppins', sans-serif;

            span {
                color: #ea2f55;
                margin-left: 12px;
            }
        }
    }
}

.history-slide {
    max-width: 420px;
    margin-right: 50px;

    &:last-child {
        margin-right: 0;
    }
}

// My-Task
.my-task {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    width: 100%;
    margin-bottom: 100px;

    &__item {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding-top: 20px;
        padding-bottom: 45px;
        margin-bottom: 40px;
        margin-right: 20px;
        min-width: 228px;

        img {
            margin-bottom: 40px;
            max-width: 100%;
        }

        h3 {
            font-size: 28px;
            line-height: 1;
            color: #d2d2d2;
            font-weight: 500;
            margin-bottom: 30px;
            text-align: center;
        }

        span {
            font-size: 28px;
            line-height: 1;
            color: #ea2f55;
            font-weight: 500;
        }
    }

    &__line {
        width: 2px;
        height: 400px;
        background-color: #707070;
        margin-right: 20px;
    }
}

@media (max-width: 1459px) {
    .my-task {
        justify-content: center;
    }

    .my-task__item {
        margin-bottom: 0;
    }

    .my-task__line {
        width: 100%;
        max-width: 228px;
        height: 2px;
        margin-bottom: 45px;
    }
}

// My-Task

// Invite Friends
.invite {
    display: flex;
    justify-content: space-between !important;
    flex-wrap: wrap;
    width: 100%;

    &__buttons {
        display: flex;
        align-items: flex-end;
        flex-wrap: wrap;
        justify-content: center;

        button {
            border: none;
            outline: none;
            padding: 20px 30px;
            max-width: 212px;

            border-radius: 6px;
            background-color: #ea2f55;
            font-size: 22px;
            color: #d2d2d2;
            font-weight: 500;
            cursor: pointer;

            &:first-child {
                margin-right: 30px;
            }
        }
    }

    &-info {
        display: flex;
        flex-direction: column;
        margin-bottom: 90px;

        h3 {
            font-size: 22px;
            line-height: 1;
            color: #d2d2d2;
            font-weight: 500;
            margin-bottom: 22px;
        }

        a {
            font-size: 22px;
            color: #747474;
            font-weight: 500;
            margin-bottom: 22px;
        }

        &__social {
            display: flex;

            i {
                margin-right: 20px;
                color: #ea2f55;
            }
        }
    }
}

.invite-first {
    margin-right: 50px;
}

.grey-line {
    width: 100%;
    background-color: #6a6a6a;
    height: 2px;
    margin-top: -60px;
    margin-bottom: 56px;
}

// Invite Friends

// Special Offers
.offers {
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 10px;
    filter: drop-shadow(-9.192px 9.192px 3.5px rgba(0, 0, 0, 0.27));
    background-color: transparent;
    border: 2px solid #393939;
    margin-bottom: 40px;
    padding: 30px 20px;

    img {
        width: 300px;
        height: 236px;
        margin-bottom: 30px;
    }

    &-line {
        background-color: #6a6a6a;
        width: 100%;
        height: 2px;
        margin-bottom: 30px;
    }

    h4 {
        font-size: 34px;
        line-height: 1;
        align-self: flex-start;
        color: #dbdbdb;
        font-weight: 500;
        margin-bottom: 15px;
    }

    &-price {
        display: flex;
        align-self: flex-start;
        flex-wrap: wrap;
        margin-bottom: 15px;

        p {
            display: flex;
            align-items: center;
            font-size: 26px;
            line-height: 1;
            color: #747474;
            font-weight: 300;
            margin-right: 30px;

            span {
                margin-left: 15px;
                font-size: 32px;
                color: #747474;
                font-weight: 500;
            }
        }

        div {
            display: flex;
            align-items: center;
            font-size: 26px;
            line-height: 1;
            color: #ea2f55;
            font-weight: 300;
            margin-right: 30px;

            span {
                margin-left: 15px;
                font-size: 32px;
                color: #ea2f55;
                font-weight: 500;
            }
        }
    }

    &-data {
        display: flex;
        flex-wrap: wrap;
        align-self: flex-start;
        color: #ea2f55;

        span {
            font-size: 24px;
            color: #ea2f55;
            font-weight: 500;
            margin-right: 20px;
        }
    }
}

// Special Offers

// Growth Mindset
.purchase {
    margin-top: 60px !important;
    width: 67% !important;
    justify-content: flex-start !important;
    margin-right: 50px;
    &-block {
        justify-content: flex-start !important;
    }
}
.info-line {
    margin-top: -80px;
    margin-bottom: 50px;
    width: 100%;
    border-bottom: 10px solid #2b2b2b;
    display: flex;
    justify-content: flex-end;

    ul {
        display: flex;
        padding-bottom: 15px;

        li {
            margin-right: 70px;
            cursor: pointer;

            &:last-child {
                margin-right: 0;
            }
        }
    }
}

.info-line-a {
    font-size: 24px;
    color: #747474;
    font-weight: 400;
}

.info-line-a__active {
    color: #ea2f55 !important;
    position: relative;

    &::after {
        content: '';
        position: absolute;
        display: block;
        height: 10px;
        background-color: #ea2f55;
        width: 150%;
        bottom: -25px;
        left: -25%;
    }
}

.block {
    display: none;
}

.block.block-active {
    display: flex;
}

// Growth Mindset

@media (min-width: 820px) and (max-width: 1459px) {
    .my-task__line {
        display: none;
    }

    .my-task__item {
        margin-right: 40px;
    }
}

@media (max-width: 1285px) {
    .purchase {
        width: 100% !important;
        margin-right: 0;
    }
    .purchase ul {
        width: 100%;
        display: flex;
        justify-content: space-between !important;
    }
    .purchase ul li {
        margin-right: 0;
    }
}

@media (max-width: 900px) {

    .text-left,
    .invite {
        justify-content: center !important;
        text-align: center;
    }

    .invite-first {
        margin-right: 0;
    }

    .history-card__content__shortLine {
        align-self: center;
    }
}

@media (max-width: 785px) {
    .invite-info a {
        font-size: 14px;
    }
}

@media (max-width: 1200px) {
    .history-video {
        justify-content: center;

        h2 {
            text-align: center;
            margin-bottom: 15px;
        }
    }
}

@media (max-width: 830px) {
    .history {
        margin-left: 0;
        margin-right: 0;
        padding-left: 15px;
        padding-right: 15px;
    }
    .my-container {
        margin-left: 15px;
        margin-right: 15px;
    }
}

@media (max-width: 600px) {
    .info-line {
        justify-content: flex-start;
    }
    .purchase ul,
    .info-line ul {
        width: 100%;
        flex-direction: column;
    }
    .info-line ul li {
        margin-bottom: 25px;
    }
    .info-line-a__active::after {
        bottom: -15px;
        width: 20%;
        left: 0;
    }
    .offers img {
        width: 100%;
        height: auto;
    }

    .history-card {
        margin-right: 0;
    }

    .invite-info a {
        font-size: 10px;
    }

    .view {
        padding-top: 70px;
    }

    .invite__buttons {
        flex-direction: column;
    }

    .invite__buttons button:first-child {
        margin-right: 0;
        margin-bottom: 20px;
    }
}