// .history-bg {
//     margin-top: 92px;
//     max-width: 100%;
//     position: relative;

//     &::after {
//         content: '';
//         position: absolute;
//         top: 0;
//         left: 0;
//         right: 0;
//         bottom: 0;
//         background: rgba(0, 0, 0, .5);
//         z-index: 9;
//     }
// }

.view {
    position: relative;
    padding-top: 80px;
}

.view .mask {
    overflow: hidden;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.view img {
    display: block;
    position: relative;
    max-width: 100%;
}

.view-second img {
    transition: all 0.2s ease-in;
}

.view .mask {
    background-color: rgba(12, 19, 27, 0.4);
    width: 100%;
}

.history {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    padding-top: 90px;
    padding-bottom: 120px;
    margin-left: 15%;
    margin-right: 15%;
    font-family: Arial, Helvetica, sans-serif;

    &-card {
        display: flex;
        flex-direction: column;
        margin-bottom: 50px;
        position: relative;
        z-index: 4;
        margin-right: 40px;
        max-width: 260px;

        &__add {
            position: absolute;
            top: 240px;
            left: 15px;
            z-index: 2389;
            display: flex;
            width: 90%;
            opacity: 0;
            height: 56px;
            border-radius: 10px;
            justify-content: space-around;
            align-items: center;
            filter: drop-shadow(-9.192px 9.192px 3.5px rgba(0, 0, 0, 0.27));
            background-color: #3a040f;

            &:hover {
                opacity: 1;
            }

            &:focus {
                opacity: 1;
            }

            i {
                color: #ffffff;
            }
        }

        &__content {
            display: flex;
            flex-direction: column;
            padding-top: 25px;

            &__topLine {
                background-color: #000000;
                border: 2px solid #707070;
                width: 25%;
                margin-bottom: 40px;
            }

            h3 {
                font-size: 50px;
                color: #ea2f55;
                font-weight: 800;
                text-transform: uppercase;
                letter-spacing: 2px;
                margin-bottom: 30px;
                line-height: 1;
            }

            h5 {
                font-size: 16px;
                color: #707070;
                margin-bottom: 50px;
            }

            &__bottomLine {
                background-color: #000000;
                border: 2px solid #707070;
                width: 90%;
                margin-bottom: 15px;
            }

            a {
                font-size: 16px;
                color: #ea2f55;
                font-weight: 400;
                font-family: 'Poppins', sans-serif;

                i {
                    margin-right: 15px;
                    vertical-align: middle;
                }
            }
        }

        button {
            position: absolute;
            left: 25%;
            top: -18px;
            z-index: 455;
            display: flex;
            justify-content: center;
            align-items: center;
            width: 130px;
            height: 36px;
            border-radius: 10px;
            border: none;
            outline: none;
            filter: drop-shadow(-18.192px 18.192px 7px rgba(0, 0, 0, 0.27));
            background-color: #ea2f55;
            font-size: 18px;
            color: #d2d2d2;
            font-weight: 500;
        }

        img {
            min-height: 300px;
            border-radius: 5px;
            filter: drop-shadow(-9.192px 9.192px 3.5px rgba(0, 0, 0, 0.27));
            background-color: #000000;
            border: 1px solid #393939;
            padding: 20px;
            margin-bottom: 10px;
        }

        &__body {
            display: flex;
            justify-content: space-between;
            align-items: center;

            small {
                font-size: 16px;
                color: #747474;
                font-weight: 300;
            }

            span {
                font-size: 22px;
                color: #ea2f55;
            }
        }

        p {
            font-size: 18px;
            color: #d2d2d2;
            font-weight: 300;
        }
    }
}

.my-container {
    margin-right: 15%;
    margin-left: 15%;
}

.viewLine {
    width: 100%;
    height: 2px;
    background-color: #ea2f55;
    margin-bottom: 90px;
    position: relative;

    button {
        display: block;
        position: absolute;
        left: 50%;
        top: -28px;
        margin-left: -117px;
        height: 60px;
        min-width: 234px;
        padding: 0px 35px;
        border-radius: 10px;
        filter: drop-shadow(-9.192px 9.192px 3.5px rgba(0, 0, 0, 0.27));
        border: 2px solid #ea2f55;
        background-color: #141414;

        a {
            font-size: 22px;
            color: #ea2f55;
            font-weight: 500;
            font-family: 'Poppins', sans-serif;
        }
    }
}

.history-video {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    width: 100%;
    font-family: Arial, Helvetica, sans-serif;
    margin-bottom: 30px;

    h2 {
        font-size: 40px;
        color: #d2d2d2;
        font-weight: 800;
        line-height: 1;
    }

    &__controls {
        display: flex;

        a {
            i {
                color: #ea2f55;
                margin-right: 20px;
            }
        }
    }
}

.history-slider {
    margin-bottom: 40px;
    display: flex;
    justify-content: space-between;
    position: relative;

    &__add {
        position: absolute;
        top: 240px;
        left: 15px;
        z-index: 2389;
        display: flex;
        width: 90%;
        opacity: 1;
        height: 56px;
        border-radius: 10px;
        justify-content: space-around;
        align-items: center;
        filter: drop-shadow(-9.192px 9.192px 3.5px rgba(0, 0, 0, 0.27));
        background-color: #3a040f;

        &:hover {
            opacity: 1;
        }

        &:focus {
            opacity: 1;
        }

        i {
            color: #ffffff;
        }
    }

    &__slide {
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-bottom: 10px;

        a {
            position: absolute;
            width: 98px;
            height: 98px;
            border-radius: 50%;
            background: #000000;
            opacity: 0.3;
            display: flex;
            justify-content: center;
            align-items: center;
        }

        i {
            position: absolute;
            padding-left: 8px;
            color: #ea2f55;
            opacity: 1;
            cursor: pointer;
        }
    }

    &__footer {
        display: flex;
        flex-direction: column;

        &-author {
            display: flex;
            justify-content: space-between;
            font-size: 16px;
            font-family: 'Poppins', sans-serif;
            font-weight: 500;
            margin-bottom: 10px;

            span {
                color: #ea2f55;

                small {
                    font-size: 16px;
                    color: #d2d2d2;
                    margin-left: 5px;
                }
            }
        }

        p {
            font-size: 18px;
            color: #d2d2d2;
            font-weight: 300;
            font-family: 'Poppins', sans-serif;
            line-height: 1;
            margin-bottom: 15px;
        }

        h5 {
            font-size: 22px;
            color: #747474;
            font-weight: 400;
            font-family: 'Poppins', sans-serif;

            span {
                color: #ea2f55;
                margin-left: 12px;
            }
        }
    }
}

.history-slide {
    max-width: 420px;
    margin-right: 50px;

    &:last-child {
        margin-right: 0;
    }
}

@media (max-width: 1200px) {
    .history-video {
        justify-content: center;

        h2 {
            text-align: center;
            margin-bottom: 15px;
        }
    }
}

@media (max-width: 600px) {
    .history-bg {
        margin-top: 70px;
    }
}