.menu {
    padding: 26px 19px 40px 19px;
    font-size: 18px;
    color: #d2d2d2;
    background-color: #212121;
    display: none;
    height: 100%;

    &-top {
        display: flex;
        position: relative;
        align-items: center;
        border-bottom: 1px solid #707070;
        padding-bottom: 15px;
        margin-bottom: 40px;

        img {
            width: 86px;
            height: 86px;
            border-radius: 50%;
            border: 2px solid #ea2f55;
            margin-right: 13px;
        }

        &__info {
            display: flex;
            flex-direction: column;

            a {
                font-size: 14px;
                color: #ea2f55;
            }
        }

        &__close {
            position: absolute;
            top: 0;
            right: 0;

            i {
                color: #d2d2d2;
            }
        }
    }

    &-body {
        display: flex;
        flex-direction: column;

        &__img {
            padding: 7px;
            background-color: #ea2f55;
            border-radius: 50%;
            display: flex;
            align-items: center;
            justify-content: center;
            margin-right: 17px;
            width: 42px;
            height: 42px;

            img {
                max-width: 100%;
            }
        }

        ul {
            li {
                margin-bottom: 10px;

                a {
                    display: flex;
                    align-items: center;

                    span {
                        font-size: 18px;
                        color: #d2d2d2;
                        text-transform: capitalize;

                        &:active {
                            color: #ea2f55;
                        }
                    }
                }
            }
        }
    }
}


#books-content,
#tutorial-content {
    display: none;
}

.profile {
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 24px;
    padding-top: 15px;

    h1 {
        font-size: 18px;
        line-height: 1;
        color: #d2d2d2;
        font-weight: 500;
        margin-bottom: 30px;
        text-transform: capitalize;

        &:last-of-type {
            margin-bottom: 14px;
        }
    }

    &-btn {
        display: flex;
        justify-content: space-between;
        margin-bottom: 30px;

        a {
            display: flex;
            justify-content: center;
            align-items: center;
            font-size: 16px;
            color: #ffffff;
            height: 34px;
            width: 100%;
            border-radius: 17px;
            filter: drop-shadow(-2.924px 9.563px 3.5px rgba(0, 0, 0, 0.16));
            background-color: #ea2f55;
            margin-right: 10px;

            &:last-child {
                margin-right: 0;
                background-color: transparent;
                border: 1px solid #ea2f55;
                color: #ea2f55;
            }
        }
    }

    &__a {
        margin-bottom: 15px;
        display: block;
        border-bottom: 1px solid #707070;
        padding-bottom: 13px;
        overflow: hidden;

        a {
            font-size: 14px;
            color: #747474;
        }
    }

    &-links {
        display: flex;

        i {
            color: #ea2f55;
            margin-right: 10px;
        }
    }
}

.profile-content {
    display: flex;
    flex-direction: column;

    img {
        width: 112px;
        height: 112px;
        border-radius: 50%;
        border: 1px solid #707070;
        margin-bottom: 32px;
        align-self: center;
    }

    &__btn {
        display: flex;
        justify-content: center;

        button {
            width: 100%;
            background-color: #ea2f55;
            border-radius: 23px;
            height: 45px;
            border: none;
            outline: none;
            color: #ffffff;
            font-size: 18px;
            font-weight: 500;
        }
    }
}




















.tutorial {
    margin-right: 0;
    width: 155px;

    &-footer {
        &__author {
            span {
                font-size: 9px;

                small {
                    font-size: 9px;
                }
            }
        }

        p {
            font-size: 12px;
            margin-bottom: 5px;
        }

        h5 {
            font-size: 14px;

            span {
                font-size: 13px;
            }
        }
    }
}


.whats-hot__sliderBlock {
    display: flex;
    flex-direction: column;
    margin-bottom: 15px;
    margin-right: 14px;

    p {
        font-size: 10px;
        letter-spacing: 0px;
        color: #d2d2d2;
    }

    span {
        font-size: 9px;
        color: #747474;

        i {
            color: #d2d2d2;
            margin-right: 3px;
        }
    }
}

.whats-hot__slider,
.whats-hot__h2,
.whats-hot__mobile {
    display: none;
}

.offerSlide {
    height: 132px;
    border-radius: 16px;

    &__footer {
        h4 {
            color: #ea2f55;
            font-size: 16px;
            margin-bottom: 10px;
            line-height: 1;
            font-weight: 500;
        }

        &__author {
            font-size: 12px;

            span {
                small {
                    font-size: 12px;
                }
            }
        }

        p {
            font-size: 14px;
        }

        h5 {
            font-size: 18px;

            span {
                font-size: 17px;
            }
        }
    }

    a {
        position: absolute;
        width: 43px;
        height: 43px;
        border-radius: 50%;
        background-color: #848484;
        border: 1px solid #d2d2d2;
        opacity: 0.3;
        display: flex;
        justify-content: center;
        align-items: center;

        &:hover {
            opacity: 0.7;
        }
    }

    i {
        position: absolute;
        padding-left: 5px;
        color: #ea2f55;
        opacity: 1;
        cursor: pointer;
    }
}

.tutorials-width {
    width: 195px !important;

    &__height {
        height: 113px !important;
    }
}

.sliderOnline {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;

    &__slide {
        position: absolute;
        display: flex;
        justify-content: center;
        align-items: center;

        a {
            position: absolute;
            width: 43px;
            height: 43px;
            border-radius: 50%;
            background-color: #848484;
            border: 1px solid #d2d2d2;
            opacity: 0.3;
            display: flex;
            justify-content: center;
            align-items: center;

            &:hover {
                opacity: 0.7;
            }
        }

        i {
            position: absolute;
            padding-left: 5px;
            color: #ea2f55;
            opacity: 1;
            cursor: pointer;
        }
    }
}

.nav-mobile,
.book,
.mobile-content,
.wishlist-items {
    display: none;
}

@media (max-width: 600px) {
    .wishlist-items {
        display: flex;
        flex-direction: column;

        &__book {
            padding: 12px;
            background-color: #2b2b2b;
            border-radius: 12px;
            position: relative;
            margin-bottom: 15px;
            display: flex;
            align-items: center;

            &-close {
                position: absolute;
                top: -7px;
                right: -5px;
                width: 25px;
                height: 25px;
                border-radius: 13px;
                background-color: #ea2f55;
                display: flex;
                justify-content: center;
                align-items: center;
                cursor: pointer;
                i {
                    color: #ffffff;
                }
            }

            img {
                width: 60px;
                object-fit: cover;
                margin-right: 12px;
            }

            &-info {
                display: flex;
                flex-direction: column;
                width: 100%;

                a {
                    font-size: 15px;
                    color: #d2d2d2;
                    font-weight: 500;
                }

                span {
                    font-size: 13px;
                    color: #d2d2d2;
                    font-weight: 300;
                }

                p {
                    font-size: 15px;
                    color: #ea2f55;
                    font-weight: 500;
                }
                &__price {
                    display: flex;
                    justify-content: space-between;
                    align-items: center;
                    &-author {
                        display: flex;
                        align-items: center;
                        p {
                            font-size: 9px;
                            color: #696969;
                            &:first-of-type {
                                margin-right: 15px;
                            }
                            span {
                                font-size: 9px;
                                color: #ea2f55;
                            }
                        }
                    }
                }
            }
        }
    }

    .history-slider {
        justify-content: center;
    }

    .history-slide {
        width: 126px;
        margin-right: 10px;
        margin-bottom: 15px;
    }

    .viewLine {
        display: none;
    }

    .growth-mobile {
        padding-top: 0;
        margin-bottom: 30px;
    }

    .history-slider__footer {
        p {
            font-size: 12px;
        }

        h5 {
            font-size: 14px;

            span {
                font-size: 13px;
            }
        }

        &-author {
            font-size: 9px;

            span {
                small {
                    font-size: 9px;
                }
            }
        }
    }

    .history-slider__slide {
        height: 130px;
        border-radius: 12px;

        a {
            width: 45px;
            height: 45px;
        }

        i {
            font-size: 20px;
        }
    }

    .history-video h2,
    .history-video {
        display: none;
    }

    .purchase-mobile {
        padding-bottom: 0;
        justify-content: center;
    }

    .purchase {
        padding-top: 100px;
    }

    .my-task {
        justify-content: flex-start;
    }

    .my-task__item-content {
        display: flex;
        flex-direction: column;

        h3 {
            text-align: left;
            font-size: 18px;
            line-height: 1.5;
            margin-bottom: 10px;
            align-self: flex-start;
        }

        span {
            font-size: 28px;
        }
    }

    .my-task__line {
        max-width: 100%;
        margin-bottom: 20px;
    }

    .my-task__item {
        flex-direction: row;
        align-items: initial;
        padding-bottom: 25px;
        padding-top: 0;

        img {
            width: 113px;
            height: 97px;
            margin-right: 25px;
            margin-bottom: 0;
        }
    }

    .info-line {
        border-bottom: 3px solid #747474;
        margin-bottom: 20px;
        z-index: 6;

        ul {
            flex-direction: row;
            justify-content: space-around;
            padding-bottom: 0;
        }
    }

    .upload-left {
        display: flex;
        flex-direction: column;
        align-items: center;

        &__file {
            height: auto;
            width: auto;
            padding-left: 5px;
            padding-right: 5px;

            div {
                text-align: center;
                padding-bottom: 18px;
            }

            label {
                img {
                    padding-top: 18px;
                }
            }
        }
    }

    .upload-mobile {
        padding-top: 0;
        display: flex;
        justify-content: flex-start !important;
    }

    .history-card__content__shortLine,
    .history-card__content-line,
    #comments-none,
    .desctop-content {
        display: none;
    }

    .book {
        display: block;
        padding-left: 20px;
        padding-right: 20px;
        padding-bottom: 15px;

        &-img {
            display: flex;
            align-items: center;
            padding-bottom: 15px;

            &__left {
                display: flex;
                flex-direction: column;
                margin-right: 25px;

                img {
                    width: 45px;
                    height: 58px;
                    margin-bottom: 12px;
                }
            }

            &__right {
                width: 100%;
                min-height: 213px;
                display: flex;
                justify-content: center;
                align-items: center;
                border-radius: 12px;
                background-color: #2b2b2b;
                padding-left: 72px;
                padding-right: 72px;

                img {
                    height: auto;
                    width: 100%;

                }
            }
        }

        &-rang {
            display: flex;
            flex-direction: column;

            &__stars {
                display: flex;
                margin-right: 5px;
                margin-bottom: 5px;

                i {
                    color: #ea2f55;
                    margin-right: 3px;
                }

                span {
                    font-size: 11px;
                    color: #747474;
                    margin-left: 4px;
                }
            }

            h5 {
                color: #ea2f55;
                font-size: 15px;
                font-weight: 500;
                margin-bottom: 35px;
                line-height: 1;
            }
        }

        &-info {
            margin-bottom: 24px;

            h1 {
                font-size: 21px;
                color: #d2d2d2;
                font-weight: 500;
            }

            p {
                font-size: 15px;
                line-height: 19px;
                color: #747474;
            }
        }

        &-price {
            display: flex;
            justify-content: space-between;
            flex-wrap: wrap;
            margin-bottom: 20px;

            &__purchase {
                display: flex;
                flex-direction: column;
                margin-right: 5px;

                h2 {
                    font-size: 25px;
                    color: #747474;
                    line-height: 1;
                    margin-bottom: 10px;
                }

                a {
                    button {
                        width: 141px;
                        height: 34px;
                        border-radius: 17px;
                        filter: drop-shadow(-2.924px 9.563px 3.5px rgba(0, 0, 0, 0.16));
                        background-color: #ea2f55;
                        border: 1px solid #ea2f55;
                        font-size: 16px;
                        outline: none;
                        color: #ffffff;
                    }
                }
            }

            &__line {
                height: 72px;
                width: 1px;
                background-color: #707070;
                margin-right: 5px;
            }

            &__rent {
                display: flex;
                flex-direction: column;

                h2 {
                    font-size: 25px;
                    color: #747474;
                    line-height: 1;
                    margin-bottom: 10px;
                }

                a {
                    button {
                        width: 141px;
                        height: 34px;
                        border-radius: 17px;
                        filter: drop-shadow(-2.924px 9.563px 3.5px rgba(0, 0, 0, 0.16));
                        background-color: transparent;
                        border: 1px solid #ea2f55;
                        font-size: 16px;
                        outline: none;
                        color: #ea2f55;
                    }
                }
            }
        }

        &-description {
            margin-bottom: 20px;

            h2 {
                font-size: 25px;
                color: #d2d2d2;
                line-height: 1;
                margin-bottom: 10px;
            }

            p {
                font-size: 15px;
                color: #747474;
            }

            ul {
                li {
                    font-size: 15px;
                    color: #747474;
                }
            }
        }
    }

    .restrew {
        border-top-left-radius: 25px;
        border-top-right-radius: 25px;
        background-color: #0f0f0f;
        padding-bottom: 25px;
        padding-top: 18px;
        padding-left: 20px;
        padding-right: 20px;

        &-invite {
            text-align: left;
            justify-content: flex-start !important;

            &__content {
                padding-top: 0;
            }
        }

        h3 {
            font-size: 19px;
            color: #ea2f55;
            font-weight: 500;
            margin-bottom: 0;
        }

        h5 {
            font-size: 14px;
            color: #707070;
            margin-bottom: 10px;
        }

        h2 {
            font-size: 15px;
            color: #d2d2d2;
            font-weight: 500;
        }

        &-rang {
            display: flex;
            align-items: center;
            margin-bottom: 30px;

            span {
                font-size: 24px;
                color: #ea2f55;
                font-weight: 500;
                margin-right: 15px;
            }

            &__stars {
                display: flex;
                justify-content: center;
                align-items: center;

                i {
                    color: #ffffff;
                    margin-right: 7px;
                    background-color: #ea2f55;
                    padding: 5px;
                    border-radius: 4px;
                }
            }
        }
    }

    #main {
        display: none;
    }

    .nav-mobile {
        position: fixed;
        bottom: 15px;
        left: 20px;
        right: 20px;
        display: flex;
        justify-content: space-around;
        align-items: center;
        width: auto;
        height: 50px;
        border-radius: 12px;
        background-color: #ea2f55;

        &-active {
            position: relative;

            &::before {
                content: '';
                display: block;
                position: absolute;
                top: -11px;
                height: 3px;
                width: 100%;
                background-color: #fff;
            }
        }

        a {
            i {
                color: #ffffff;
            }
        }
    }

    .whats-hot__mobile {
        display: block;
    }

    .mobile-content {
        display: block;
    }

    .slick-slide {
        margin-right: 20px;
    }

    .whats-hot__books {
        justify-content: flex-start;

        &__book {
            width: 126px;
            height: 151px;
            padding: 0;
            background-color: #2b2b2b;
            margin-bottom: 8px;
            min-width: auto;
            min-height: auto;
            margin-right: 0;
        }
    }

    .nav-menu__left img,
    .nav-menu__left-search,
    .nav-menu__right ul li+.nav-menu__right-down,
    .header,
    .whats-hot__books,
    .online,
    .qualified,
    footer {
        display: none;
    }

    .nav-menu {
        position: static;
        background-color: transparent;
    }

    .nav-menu__left-mobileIcon {
        display: block;
    }

    .whats-hot__slider {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
    }

    .whats-hot__h2 {
        display: flex;
    }

    .nav-menu__right ul li {
        margin-right: 0;

        &:first-child {
            margin-right: 20px;
        }
    }

    .nav-menu__right {
        padding-top: 7px;
    }

    .nav-menu__left-search {
        border: 1px solid #747474;
        margin-left: 20px;
        margin-right: 20px;
        margin-bottom: 15px;
    }

    .nav-menu__left-search input {
        padding-top: 8px;
    }

    .whats-hot {
        color: #d2d2d2;
        padding: 10px 20px 10px 20px;

        &__h2 {
            margin-bottom: 18px;

            h2 {
                color: #d2d2d2;
                font-weight: 500;
                font-size: 18px;

                span {
                    color: #d2d2d2;
                }
            }
        }
    }
}

@media (max-width: 333px) {
    .book-price__line {
        display: none;
    }

    .book-price__purchase,
    .book-price__rent {
        margin-bottom: 10px;
    }
}